{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}

<div class="container">
<h1>Productos</h1>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery-3.1.1.js')}}"></script>
    <script src="{{ asset('js/materialize.js')}}"></script>
    <script src="{{ asset('js/all.min.js')}}"></script>
    <script src="{{ asset('js/jquery.validate.min.js'}}"></script>
{% endblock %}